html,
body,
#root,
#root > div {
  height: 100%;
  overflow: auto;
}
.App {
  height: 100%;
  background-color: #282c34;
}

.App-body {
  height: 80%;
  text-align: center;
  background-color: #282c34;
}

.navbar {
  background-color: #181b1d;
}

/*Footer*/
.App-footer {
  background-color: #0d0f11;
  font-size: calc(8px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*Images/Buttons*/
.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-pclicker {
  height: 50vmin;
}

.App-pclicker:hover {
  transform: scale(1.15);
}

.App-pclicker:active {
  transform: scale(1.05);
}

.restart:hover {
  transform: scale(0.95);
}

.gbadge:hover {
  transform: scale(1.05);
}

.start {
  font-size: 80px;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/**Badges**/

.badge-swing {
  animation: swing 0.3s ease-in-out infinite;
  animation-play-state: paused;
  animation-iteration-count: 1;
}

.badge-swing:hover {
  animation-play-state: running;
  animation-iteration-count: infinite;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
