html,
body,
#root,
#root > div {
  height: 100%;
}

.App {
  text-align: center;
  background-color: #282c34;
  overflow: hidden;
}

/*Footer*/
.App-footer {
  background-color: #0d0f11;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*Images*/
.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-pclicker {
  height: 50vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/**Badges**/

.badge-swing {
  animation: swing 0.3s ease-in-out infinite;
  animation-play-state: paused;
  animation-iteration-count: 1;
}

.badge-swing:hover {
  animation-play-state: running;
  animation-iteration-count: infinite;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
